:root {
  --v-anchor-base: #9155fd;
  --v-primary-base: #9155fd;
  --v-secondary-base: #8a8d93;
  --v-accent-base: #0d6efd;
  --v-error-base: #ff4c51;
  --v-info-base: #16b1ff;
  --v-success-base: #56ca00;
  --v-warning-base: #ffb400;
  --background-color: #f4f5fa;
  --nav-background-color: #1f1d31;
  --font-color: hsla(0, 0%, 100%, .76);
  --list-background-color: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}

